:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --white: #fff;
    --dairy: #fcfcfc;
}

body {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--slate);
    background-color: var(--white);
}

h1, h2, h3, p, a {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 60px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--navy-blue)
}

a {
    color: currentColor;
    text-decoration: underline;
    font-weight: 500;
    font-size: 12px;
    font-style: normal;
    line-height: 16px;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
    color: var(--white);
}

button:hover, button:focus, a:hover, a:focus {
    color: var(--ocean);
    outline: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.principles, .team, .portfolio {
    padding: 120px 0
}

.team-title, .portfolio-section-title {
    margin-bottom: 72px;
}

.logo {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
    text-decoration: none;
    margin-right: 76px;
}

.logo-accent {
    color: var(--navy-blue);
}

.section-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--navy-blue);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header .container {
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--navy-blue);
    text-decoration: none;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.active > a {
    color: var(--ocean);
}

.nav-link::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: var(--ocean);
    border-radius: 2px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
    transform-origin: left;
    width: 100%;
}

.nav-item.active .nav-link::after,
.nav-link:hover::after {
    transform: scaleX(1);
}

.contact-info {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contact-link {
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #hero 1 */
.hero {
    background: var(--navy-blue);
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), 
    rgba(46, 47, 66, 0.7)), url(../images/people-office1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 1440px;
}


.hero-title {
    color: var(--white);
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.btn-order {
    background: var(--iris);
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover, button:focus {
    background-color: var(--ocean);
}

/* #principles 2 */

.principles-list {
    display: flex;
    gap: 24px;
}

.principle-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
    box-sizing: border-box;
}

.principle-item:first-child {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.principle-item:last-child {
    margin-right: 0;
}

.principle-wrapper {
    background-color: var(--cloud);
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.principle-title {
    margin-bottom: 8px;
}

.principle-description {
    font-weight: 400;
}

/* #team 3 */
.team {
    background-color: var(--cloud);
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-desc-container {
    padding: 32px 0;
}

.team-member {
    background-color: var(--white);
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.team-name {
    text-align: center;
    margin-bottom: 8px;
}

.team-role {
    text-align: center;
    margin-bottom: 8px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-link {
    color: var(--cloud);
    background-color: var(--iris);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--ocean);
}

.social-icon {
    fill: var(--cloud);
}

/* #portfolio 4 */
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.portfolio-item {
    flex: 1 1 calc(33.33% - 24px);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img-content {
    position: relative;
    overflow: hidden;
}

.portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .overlay {
    transform: translateY(0%)
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    padding: 40px 32px;
    background-color: var(--iris);
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-desc-container {
    border-left: 1px solid var(--cornflower);
    border-right: 1px solid var(--cornflower);
    border-bottom: 1px solid var(--cornflower);
    padding: 32px 16px;
}

.portfolio-title {
    margin-bottom: 8px;
}

/* #footer */
.footer {
    color: var(--cloud);
    background: var(--navy-blue);
    padding: 100px 0
}

.footer .container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-logo-content {
    margin-right: 120px
}

.logo-footer {
    color: var(--iris);
    margin-bottom: 16px;
    margin-left: right;
    display: inline-block;
}

.logo-footer-accent {
    color: var(--cloud);
}

.footer-text {
    width: 264px;
}

.footer-social-content {
    display: inline-block;
}

.social-title {
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--white);
}

.footer .social-icons {
    gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
    background-color: var(--green);
}

.subscribe {
    margin-left: 80px;
}

.subscribe > form {
    display: flex;
    gap: 24px;
}

.subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
}

.subscribe-input {
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    background-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15)
}

.subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: var(--white);
    padding-left: 16px;
}

.subscribe .btn-order {
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.subscribe-icon {
    fill: var(--white);
    margin-left: 16px;
}



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navy-blue-modal);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: opacity, visibility;

   
}

.backdrop.is-open {
    opacity: 1;
    pointer-events: initial;
    visibility: visible;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: var(--dairy);
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: var(--cornflower);
    border-radius: 50%;
    padding: 0;
    display: flex;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
    background-color: var(--ocean);
    border: none;  
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: var(--white);
}

.modal-caption {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 16px;
    color: var(--navy-blue);
}

.modal-form-field {
    margin-bottom: 8px;
}

.modal-form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.modal-form-wrapper {
    position: relative;
}

.modal-form-input {
    padding: 8px 38px;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 40px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    background-color: transparent;
}

.modal-form-input:focus {
    border-color: var(--iris);
}

.modal-form-input:focus + .modal-form-icon {
    fill: var(--iris);
}

.modal-form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field-div {
    margin-bottom: 16px;
}

.modal-form-comment {
    display: block;
    resize: none;
    border: 1px solid var(--navy-blue-modal);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    outline: transparent;
    padding: 8px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
}

.modal-form-comment::placeholder {
    color: var(--navy-blue-modal);
}

.modal-form-comment:focus {
    border-color: var(--iris);
}

.modal-form-agreement {
    margin-bottom: 24px;
}

.modal-form-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
}

.modal-form-checkbox {
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

input[type='checkbox']:checked + .modal-form-description > .modal-form-checkbox {
    border-color: var(--ocean);
    background-color: var(--ocean);
    border: none;
    fill: var(--cloud);
}

.modal-form-checkbox-icon {
    fill: var(--cloud);
}

.modal-form-link {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
}

.modal .btn-order {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}